/*Affects entire Document*/
html {
    scroll-behavior: smooth; /*ensures smooth scrolling between pages*/
}

/*BODY*/
body {
    margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1; /*This and transition affect the page loading fade in effect*/
    transition: 3s opacity; /*This causes a 3 second fade in*/
    letter-spacing: .2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
}

/*This contributes to the fade effect when loading page*/
body.fade-out {
    opacity: .1; /*Sets the level of opacity at the start of load*/
    transition: none;
}

/*NAVBAR*/
.Navbar {
    overflow: hidden; /*So that content does not overflow the boundary*/
    background-color: black; 
    position: fixed; /*This keeps the navbar at the top of the screen*/
    top: 0; /*This ensures no space is displayed aboe the the navbar*/
    width: 100%; /*This makes the navbar span the page*/
    z-index: 1; /*This ensures that nothing displays over the navbar*/
    -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0*/
    animation: moveNav 5s;
}

.Navbar a {
    float: left; /*This orients the text to the left*/
    display: block; /* this ensures that the text will be displayed on the same line/row */
    color: white; 
    padding: 14px 16px; /*This adds padding around text*/
    text-decoration: none; /*This gets rid of underlings under the text*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.5vw;
    text-align: center; /*This centers the text in it's container*/
    position: relative;
    -webkit-animation: movenavText 5.75s; /*Safari 4.0-8.0*/
    animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

/*this animation effect for moving the navbar in from above the top of page on loading*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*This animation effect for moving the nav bar text in from above the top*/
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*This animation effect causes the overlay video text to move up from the bottom of the page on loading*/
@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.Navbar a:hover {  /*navbar home button*/
    background-color: #F4F4F4; /*This defines the font color that will display when you hover over the text on the navbar*/
    color: black; /*This defines the font color that will display when you hover over the text on the navbar*/
    font-weight: bold; /* This makes the text on the navbar bold when hovered over*/
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.Navbar a.active { /*Navbar home button, active selecter styles a link*/
    background-color: lightslategray; 
}

/*This causes the video to zoom out from a zoomed in position on page loading*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/*VIDEO*/
#Typing_Video {
    position: fixed; /*This fixes our video to the page*/
    right: 0; /*This ensures no space between the video and the edge of the page*/
    bottom: 0; /*This enures no space between the edge of the video and edge of the page*/
    min-height: 100%; /*This ensures the video is displayed across the full height of the page*/
    top: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

.Video_Text { /*Text over the video*/
    background: rgba(0,0,0,0.5); /*This provides a semi-transparent background for the text*/
    color: white;
    width: 100%;
    padding-top: .1vh; /*So that background goes slightly around text*/
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    -webkit-animation: moveNav 4s; /*Safari 4.0-8.0*/
    animation: movevideoText 4s;
}

/*Slideshow Styling*/
#Slideshow_Background {
    background: rgba(255,255,255, 0.35); /*Creates a slightly transparent white background over the video*/
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Slideshow section / container */
#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/*Images contained within slideshow*/
.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

/*Next and previous buttons*/
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/*Positioning the right-hand next button */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Hover effect on slide show buttons*/
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0, 0.8);
    color:white;
}

/*Slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

/*Number text (1/6, 2/6, etc.) - we have set this display to none, which means these are hidden*/
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/*The dots under the slideshow*/
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/*Hover effect for slideshow dots*/
.active, .dot:hover {
    background-color: black;
}

/*Fading animation for slideshow*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/*TABLE- this section covers the styling of the columns and rows within our table */
* { /*universal selector*/
    box-sizing: border-box; /*This creats a box with a border where we will plac our text*/
}

.Column_1 {
    float: left;
    width: 50%; /*This ensures the column will only take up half the page*/
    padding: 1.6%;
    height: 400px; /*This sets the height of our column at 400 pixels - if you change the text in the columns you will need to adjust the column height accordingly*/
    background-color: #f2f2f2;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 400px;
    background-color: lightslategray;
}

.Row:after { /*This inserts something after the content of selected elements*/
    content: ""; /*By leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column*/
    display: table; /*The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table*/
    clear: both; /*This clears any other elements from floating on the left or the right of an element*/
}

/* HEADING 1*/
h1 {
    text-transform: uppercase; /*We are capitilizing our headings*/
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /*We are adding a small margin above the heading*/
    color: #1a1a1a;
}

/*PARAGRAPH ELEMENTS*/
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; 
    letter-spacing: .1vw; /*This epands the stext slightly*/
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* CENTER ALIGN ELEMENTS - this embraces all centered text*/
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*ANCHOR ELEMENTS*/
a {
    color: blue; /*All links to be blue*/
}

/*QUOTE ELEMENTS*/
q {
    font-style: italic;
    font-weight: bold;
}

/*IMAGE ELEMENTS*/
img {
    filter: grayscale(75%); /*This rids our pictures of 75% of their color*/
    border-radius: 8px; /*Gives our images slightly rounded edges*/
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block; /*By specifying block display we can ensure our images are able to be centered*/
}

/*CONTACT FORM*/
input[type=text] { /*This covers the input sections of the contact form*/
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /*We are setting a solid border and it's colors*/
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /*This specifies how an element is resized; vertical allows the user to resize the height of the element*/
    font-family: Perpetua, Rockwell Extra Bold;
}

/*Center align element hover effect*/
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*PARAGRAPH ELEMENT HOVER EFFECT*/
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

/*HEADING 1 ELEMENT HOVER EFFECT*/
h1:hover {
    color: black;
    font-weight: normal; /*Makes the text no longer bold when hovered*/
}

/*IMAGE ELEMENT HOVER EFFECTS*/
img:hover {
    filter: grayscale(5%); /*Brings back most of the image's color*/
    transition: 1s;
    transform: scale(1.1);
}

/*Contact Styling form*/

/*makes contact form button slide in from right on page load*/
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

/*Button used to open the contact form - fixed at the bottom of the page*/
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/*The popup form hidden by default*/
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/*form styling*/
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/*Input Fields*/
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

/*Submit button*/
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/*Close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/*Button Styling */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*Button hover effect*/
button:hover, .form-container .btn:hover{
    color:white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover{
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

/*FOOTER ELEMENT*/
footer {
    padding: 2%;
    background-color: white;
}